# -*- coding: utf-8 -*-
# vim: ft=yaml
---
gasmask:
  version: 0.8.6
  pkg:
    uri: 'https://github.com/2ndalpha/gasmask/releases/download'
    use_upstream_archive: true
    archive:
      source_hash: 9f75d0b11340d70832f87011c3d8ed97b9b18b3a56dec5f860d4040bb7404500
